*, html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-nav {
  border: 1px solid black;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #f4ca81;
}

.jumbotron img {
  width: 200px;
}

section {
  padding-top: 5rem;
}

.card img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}